<section id="contact-us">
  <div class="container-contact">
    <div class="section-header" appScrollAnimation>
      <h5 class="subtitle-contact">Contact Us</h5>
      <h2 class="section-title-contact">Preferred by Leading Experts</h2>
      <p class="section-description">
        Discover proven warehouse management strategies designed to optimize
        space, enhance accuracy, and drive greater efficiency in your
        operations.
      </p>
    </div>

    <div class="contact-wrapper">
      <div class="contact-form-container" appScrollAnimation>
        <h4 class="contact-title">Send Us A Message</h4>
        <p class="contact-wrapper-description">
          As a fellow small business owner, we know the fulfillment that comes
          from running & owning a business. Contact our service at Glloc.
        </p>

        <form>
          <div class="form-group">
            <input type="text" placeholder="First Name" name="firstName" />
            <input type="text" placeholder="Last Name" name="lastName" />
          </div>
          <div class="form-group">
            <input type="tel" placeholder="Phone Number" name="tel" />
            <input type="email" placeholder="Email Address" name="email" />
          </div>
          <textarea name="message" placeholder="Message"></textarea>
          <button type="submit" class="btn-primary">
            Send Message <i class="fa-solid fa-angle-right"></i>
          </button>
        </form>
      </div>

      <div class="contact-info-container" appScrollAnimation>
        <div class="contact-item">
          <figure class="img-container">
            <img src="images/phone.svg" alt="Phone Icon" class="icon-contact" />
          </figure>
          <div class="contact-texts">
            <h4 class="contact-title">Call or Text</h4>
            <a class="contact-link" href="tel:123-456-7890">+994 512500701</a>
          </div>
        </div>
        <div class="contact-item">
          <figure class="img-container">
            <img src="images/mail.svg" alt="Mail Icon" class="icon-contact" />
          </figure>
          <div class="contact-texts">
            <h4 class="contact-title">Send Email</h4>
            <a class="contact-link" href="mailto:office@glloc.com"
              >office&#64;glloc.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
