<section id="partners" class="partners-section">
  <div class="partners-container">
    <div class="partners-header">
      <div class="partners-content">
        <h5 class="section-subtitle" appScrollAnimation>Partners</h5>
        <h2 class="section-title" appScrollAnimation>
          Our Global <br />
          Partner Network
        </h2>
        <p class="partners-description" appScrollAnimation>
          Our partners play a crucial role in ensuring efficiency, innovation,
          <br />
          and global reach in our services.
        </p>
      </div>
    </div>

    <div class="partners-list">
      <div
        class="partner-item"
        *ngFor="let partner of partners"
        appScrollAnimation
      >
        <img [src]="partner.img" [alt]="partner.name" />
        <div class="partner-info">
          <p class="partner-info-name">{{ partner.name }}</p>
          <span class="partner-info-description">{{
            partner.description
          }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
