$primary-color: #348f92;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.partners-section {
  padding: 60px 0;
  background-color: #f9f9f9;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .partners-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    .partners-header {
      text-align: center;
      margin-bottom: 40px;

      .partners-content {
        text-align: start;
        .section-subtitle {
          font-size: 23px;
          font-weight: 600;
          color: $primary-color;
          background: #e7edf6;
          border-radius: 50px;
          font-weight: 400;
          padding: 12px 16px 12px 26px;
          display: inline-block;
          line-height: 16px;
          margin-bottom: 10px;
        }

        .section-title {
          font-size: 2.5rem;
          line-height: 52px;
          padding-top: 16px;
          font-weight: 600;
          color: #333;
          margin-bottom: 20px;
        }

        .partners-description {
          color: #5a5d63;
          font-size: 1.4rem;
          line-height: 34px;
          padding-bottom: 32px;
          padding-top: 16px;
        }
      }
    }

    .partners-list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .partner-item {
        @include flex-center;
        width: 40vw;
        padding: 30px;
        box-shadow: #32325d40 0 2px 5px -1px, #0000004d 0 1px 3px -1px;
        background-color: #f8f9fa;
        border: 1px solid #e6e6e6;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
        }

        .partner-info {
          padding: 20px;

          .partner-info-name {
            font-size: 24px;
            font-weight: 600;
            color: #333;
            margin-bottom: 10px;
          }

          .partner-info-description {
            color: #5a5d63;
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
  }
  .hidden {
    opacity: 0;
  }

  .animate.section-subtitle {
    animation: fadeInLeft 0.8s ease-out forwards;
  }

  .animate.section-title,
  .animate.partners-description {
    animation: fadeInRight 0.8s ease-out forwards;
  }

  .animate.partner-item {
    animation: fadeInRight 0.8s ease-out forwards;
  }
}

@media screen and (max-width: 768px) {
  .partners-section {
    .partners-container {
      display: flex;
      flex-direction: column;
      .partners-list {
        .partner-item {
          width: 90vw;
          .partner-info {
            .partner-info-description {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .partners-section {
    .partners-container {
      display: flex;
      flex-direction: column;
      .partners-list {
        .partner-item {
          width: 90vw;
          .partner-info {
            .partner-info-description {
              display: none;
            }
          }
        }
      }
    }
  }
}
