<footer>
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-top-container">
        <div class="footer-top-content">
          <h2 class="footer-top-title">
            Join Us Today And Let Us Help You To Grow Your Business.
          </h2>
        </div>
        <figure class="footer-img">
          <img
            src="https://glloc.com/assets/img/shape/cta-shape-3.1.png"
            alt="CTA Shape"
          />
        </figure>

        <div class="action-container">
          <a
            href="https://cb.glloc.com/login"
            target="_blank"
            class="account-btn"
          >
            <span class="person-acc">Personal Account</span>
            <span class="row-icone">
              <i class="fa-solid fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="footer-line">
        <div class="line"></div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <div class="footer-logo">
          <a href="#" class="footer-logo-img">
            <img
              src="../../../../public/logo.svg"
              alt="glloc logo"
              class="footer-logo-img"
            />
            <span class="footer-logo-text">GLLOC</span>
          </a>
        </div>
        <p class="footer-description">
          Efficient logistics solutions ensuring timely delivery, reliable
          tracking, and seamless operations for your cargo needs.
        </p>
        <ul class="footer-social-links">
          <li class="social-links-items">
            <a href="#" class="social-links-icon"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li class="social-links-items">
            <a href="#" class="social-links-icon"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
          </li>
          <li class="social-links-items">
            <a href="#" class="social-links-icon"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li class="social-links-items">
            <a href="#" class="social-links-icon"
              ><i class="fa-brands fa-x-twitter"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom-center">
        <div class="footer-quick-links">
          <h4 class="footer-title">Quick Links</h4>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#tracking">Tracking</a></li>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#services">Service</a></li>
            <li><a href="#partners">Partners</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom-left">
        <div class="footer-account">
          <h4 class="footer-title">Other Links</h4>
          <p>Log in to your personal account to manage your settings.</p>
          <div class="action-container">
            <a
              href="https://cb.glloc.com/login"
              target="_blank"
              class="account-btn"
            >
              <span class="person-acc">Personal Account</span>
              <span class="row-icone">
                <i class="fa-solid fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__border"></div>
  </div>
</footer>
