<section id="about">
  <div class="container-about">
    <div class="about-content">
      <div class="about-content-top">
        <h5 class="section-subtitle" appScrollAnimation>About us</h5>
        <h2 class="section-title" appScrollAnimation>
          Reliable Logistics, <br />
          Driven by Excellence
        </h2>
        <p class="about-description" appScrollAnimation direction="right">
          We are a company with years of experience in logistics and freight car
          tracking. <br />
          Our mission is to provide accuracy, reliability, and efficiency for
          every client. <br />
          We take pride in our reputation as a reliable partner in the logistics
          industry. <br />
          With us, you can be confident that your cargo is under full control.
        </p>
      </div>

      <div class="about-content-bottom">
        <div class="about-checklist" appScrollAnimation>
          <div class="check-item" *ngFor="let item of checklistItems">
            <span class="check-icon"><i class="fa-solid fa-check"></i></span>
            <h4 class="check-title">{{ item.title }}</h4>
          </div>
        </div>

        <div class="about-message" appScrollAnimation>
          <p class="message-text">
            We don’t just deliver goods — we create solutions that drive your
            success.
          </p>
        </div>
      </div>
    </div>

    <div class="cards-container">
      <div class="cards" *ngFor="let card of cards">
        <div class="card" appScrollAnimation>
          <img
            [src]="card.imgSrc"
            [style.width]="card.imgWidth"
            [style.height]="card.imgHeight"
            alt="Card Image"
          />
          <div class="overlay">
            <div class="content">
              <img [src]="card.iconSrc" alt="Card Icon" />
              <h3>
                <span class="counter">{{ card.counter }}</span> K+
              </h3>
              <p>{{ card.label }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
