<header #header>
  <div class="header-container">
    <a href="#" class="logo">
      <img src="images/logo.svg" alt="GLLOC logo" class="logo-img" />

      <span class="logo-text">GLLOC</span>
    </a>
    <button class="burger-menu" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="nav-menu" [class.active]="isMenuOpen">
      <li><a (click)="scrollTo('home')">Home</a></li>
      <li><a (click)="scrollTo('tracking')">Tracking</a></li>
      <li><a (click)="scrollTo('about')">About Us</a></li>
      <li><a (click)="scrollTo('service')">Service</a></li>
      <li><a (click)="scrollTo('partners')">Partners</a></li>
      <li><a (click)="scrollTo('contact-us')">Contact Us</a></li>
    </ul>

    <div class="action-container">
      <a href="login" target="_blank" class="account-btn">
        <span class="person-acc">Personal Account</span>
        <span class="row-icone">
          <i class="fa-solid fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
</header>
