<header>
  <div class="header-container">
    <a href="#" class="logo">
      <img src="/logo.svg" alt="GLLOC logo" class="logo-img" />

      <span class="logo-text">GLLOC</span>
    </a>
    <ul class="nav-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#tracking">Tracking</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#service">Service</a></li>
      <li><a href="#partners">Partners</a></li>
      <li><a href="#contact-us">Contact Us</a></li>
    </ul>

    <div class="action-container">
      <a href="login" target="_blank" class="account-btn">
        <span class="person-acc">Personal Account</span>
        <span class="row-icone">
          <i class="fa-solid fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
</header>
