<section id="home">
  <div class="home-content">
    <div class="container-shape">
      <div class="home-shapes">
        <img src="images/home-ovarley.3.png" alt="Background Shape" />
        <div class="home-top-shape">
          <img src="images/home-image.png" alt="Top Shape" />
        </div>
      </div>

      <div class="home-image">
        <img src="images/container_2.png" alt="Container" />
      </div>

      <div class="home-shape">
        <img src="images/ca-shape3.1.png" alt="shape" />
      </div>
      <div class="home-ovarley">
        <img loading="lazy" src="images/overlay-shape3.2.png" alt="Overlay" />
      </div>
    </div>

    <div class="container-home">
      <div class="home-text">
        <h5 class="home-subtitle">GLLOC-Transport & Logistics</h5>
        <h1 class="home-title">Global Logistics Operations Center</h1>
        <p>
          Whether it's international shipping, domestic transport, or
          specialized logistics, <br />
          our expertise ensures that every shipment is handled with precision
          and care.
        </p>
        <a href="#tracking" class="home-btn"
          >Tracking <i class="fa-solid fa-angle-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>
