<section id="tracking" class="tracking-section">
  <div class="tracking-container">
    <div class="tracking-header">
      <h5 class="tracking-subtitle" appScrollAnimation>Tracking</h5>
      <h2 class="tracking-title" appScrollAnimation>
        Where Is Your Order? Find Out with One Click!
      </h2>
    </div>
  </div>

  <form class="tracking-form" appScrollAnimation>
    <select
      class="form-select"
      [(ngModel)]="trackingType"
      name="trackingType"
      (change)="updatePlaceholder()"
    >
      <option value="1">Wagon</option>
      <option value="2">Container</option>
      <option value="3">Booking no</option>
    </select>

    <div class="form-input">
      <input
        type="text"
        [(ngModel)]="wagonNo"
        name="wagonNo"
        [placeholder]="inputPlaceholder"
        class="form-input"
      />
    </div>

    <div class="form-btn">
      <span class="search-btn">SEARCH</span>
      <span class="row-icon">
        <i class="fa-solid fa-angle-right"></i>
      </span>
    </div>
  </form>
</section>
