<div class="dashboard-tables">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Wagon number</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr class="no-data">
        <td colspan="3" class="text-center py-2 bg-white">
          <span>Not found</span>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Wagon number</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr class="no-data">
        <td colspan="3" class="text-center py-2 bg-white">
          <span>Not found</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
