<div class="login">
  <div class="logo-login">
    <img
      src="https://cb.glloc.com/assets/images/glloc_logo_white.svg"
      alt="Logo"
      class="glloc_logo"
    />
  </div>

  <div class="form-container-login">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h6 class="form-header-login">Log in</h6>

      <div class="form-login-input">
        <input
          type="email"
          class="form-input-login"
          placeholder="E-mail"
          formControlName="email"
        />
        <p
          *ngIf="
            loginForm.controls.email.invalid && loginForm.controls.email.touched
          "
        >
          Please enter a valid email.
        </p>
      </div>

      <div class="form-login-input">
        <input
          type="password"
          class="form-input-login"
          placeholder="Password"
          formControlName="password"
        />
        <p
          *ngIf="
            loginForm.controls.password.invalid &&
            loginForm.controls.password.touched
          "
        >
          Password must be at least 6 characters.
        </p>
      </div>

      <div class="form-login-controller">
        <div class="form-label-input">
          <input type="checkbox" id="rememberMe" class="form-check-input" />
          <label for="rememberMe" class="form-check-label"> Remember me </label>
        </div>
        <a href="#" class="forgot-password">Forgot password</a>
      </div>

      <div class="btn-container-login">
        <button
          class="btn-login"
          disabled
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Log in
        </button>
      </div>

      <div class="info-login">
        <p class="info-login-text">
          Don't have an account yet?
          <a href="/register" class="signup-location">Sign up here</a>
        </p>
      </div>
      <p>{{ message }}</p>
    </form>
  </div>
</div>
