$green-color: #348f92;
$black-color: #000;

@mixin form-controle {
  font-size: 1.2rem;
  font-weight: 500;
  color: $black-color;
  margin: 0;
  padding-left: 16px;
  margin: 0 0 12px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

.login {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/free-vector/gradient-emerald-background_23-2150237162.jpg");
  @include flex-center;
  .logo-login {
    margin-bottom: 20px;

    .glloc_logo {
      width: 220px;
      @include responsive(mobile) {
        width: 120px;
      }
    }
  }

  .form-container-login {
    @include flex-center;
    flex-direction: column;
    border-radius: 20px;
    background: #fff;
    width: 100%;
    max-width: 500px;
    padding: 45px;

    @include responsive(mobile) {
      padding: 20px;
    }

    .login-form {
      width: 100%;

      .form-header-login {
        color: $green-color;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;

        @include responsive(mobile) {
          font-size: 20px;
        }
      }

      .form-login-input {
        width: 100%;
        margin-bottom: 25px;
        @include responsive(mobile) {
          height: 35px;
          padding: 10px;
        }
        .error-message-login {
          color: red;
          padding: 5px;
        }
        .form-input-login {
          width: 100%;
          border-radius: 10px;
          border: 1px solid #e7e6e6;
          background: #fff;
          height: 40px;
          padding: 30px;
          @include responsive(mobile) {
            width: 79vw;
            padding: 10px;
          }
          @include responsive(tablet) {
            width: 100%;
          }

          &:focus {
            border-color: #4e8ff7;
            box-shadow: 0 0 5px rgba(78, 143, 247, 0.2);
          }
        }
      }

      .form-login-controller {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        @include responsive(mobile) {
          flex-direction: row;
          justify-content: space-between;
        }
        .form-label-input {
          display: flex;
          align-items: center;

          .form-check-input {
            margin-right: 15px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin: 5px;
          }
          .form-check-input[type="checkbox"] {
            border-radius: 0.25em;
          }

          .form-check-label {
            color: #787878;
            font-size: 18px;
            font-weight: 500;
          }
        }

        .forgot-password {
          color: $green-color;
          text-decoration: none;
          font-size: 18px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .btn-container-login {
        width: 100%;
        margin-bottom: 15px;

        .incorrect-message {
          color: red;
          text-align: center;
          padding: 20px;
        }
        .btn-login {
          width: 100%;
          cursor: pointer;
          display: flex;
          padding: 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          font-size: 20px;
          border-radius: 10px;
          background: $green-color;
          color: #fff;
          border: 1px solid $green-color;
          margin-top: 48px;
          margin-bottom: 8px;

          @include responsive(mobile) {
            padding: 10px;
            font-size: 16px;
          }
          &:hover {
            background-color: #0c6b51;
          }

          &:disabled {
            background-color: #72999c;
            cursor: not-allowed;
          }
        }
      }

      .info-login {
        text-align: center;
        font-size: 14px;

        @include responsive(mobile) {
          font-size: 12px;
        }
        .info-login-text {
          text-align: center;
          color: #999;
          font-size: 14px;
          font-weight: 400;
          .signup-location {
            color: #0f6843;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
