<div class="register-page">
  <div class="register-box">
    <div class="logo">
      <img
        src="https://cb.glloc.com/assets/images/glloc_logo_white.svg"
        alt="Logo"
        class="logo-img"
      />
    </div>
    <div class="form-container">
      <h6 class="form-header">Sign up</h6>
      <form
        class="register-form"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()"
      >
        <div class="form-field">
          <input
            id="email"
            class="input-field"
            formControlName="email"
            placeholder="E-mail"
          />
          <p
            *ngIf="
              registerForm.controls['email'].invalid &&
              registerForm.controls['email'].touched
            "
            class="error-message-register"
          >
            Please enter a valid email.
          </p>
        </div>

        <div class="form-field">
          <input
            formControlName="password"
            type="password"
            placeholder="Password"
          />
          <p
            *ngIf="
              registerForm.controls['password'].invalid &&
              registerForm.controls['password'].touched
            "
            class="error-message-register"
          >
            Password must be at least 6 characters.
          </p>
        </div>

        <div class="role-selection">
          <p class="role-item-text">Personal</p>
          <div class="checkbox-wrapper">
            <input id="cbx" type="checkbox" class="checkbox-input" />
            <label for="cbx" class="checkbox-label">
              <span class="slider"></span>
            </label>
          </div>

          <p class="role-item">Juridical person</p>
        </div>

        <div class="submit-btn">
          <button class="btn" type="submit" [disabled]="registerForm.invalid">
            Sign Up
          </button>
          <p>{{ message }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
