$green-color: #348f92;
$black-color: #000;

@mixin form-controle {
  font-size: 1.2rem;
  font-weight: 500;
  color: $black-color;
  margin: 0;
  padding-left: 16px;
  margin: 0 0 12px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

.register-page {
  @include flex-center;
  height: 100vh;
  padding-top: 13%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/free-vector/gradient-emerald-background_23-2150237162.jpg");

  .register-box {
    .logo {
      margin-bottom: 20px;

      .logo-img {
        z-index: 2;
        position: absolute;
        top: 10%;
        left: 45.5%;
        width: 230px;
        @include responsive(mobile) {
          width: 120px;
        }
      }
    }

    .form-container {
      @include flex-center;
      flex-direction: column;
      border-radius: 20px;
      background: #fff;
      width: 27vw;
      height: 53vh;
      padding: 35px;

      @include responsive(mobile) {
        width: 90%;
        height: auto;
        padding: 20px;
      }

      @include responsive(tablet) {
        width: 90%;
        height: auto;
        padding: 20px;
      }

      .form-header {
        color: $green-color;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
        @include responsive(mobile) {
          font-size: 18px;
        }
      }

      .register-form {
        .form-field {
          margin-bottom: 20px;

          input {
            border-radius: 10px;
            border: 1px solid #e7e6e6;
            background: #fff;
            width: 22vw;
            padding: 20px;

            @include responsive(mobile) {
              width: 100%;
              padding: 10px;
            }

            &:focus {
              border-color: #007bff;
            }
          }
          .error-message-register {
            color: red;
            padding: 20px 10px;
          }
        }

        .role-selection {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .role-item-text {
            @include form-controle;
          }
          .checkbox-wrapper {
            display: flex;
            align-items: center;
            position: relative;

            .checkbox-input {
              position: absolute;
              opacity: 0;
              width: 0;
              height: 0;
            }

            .checkbox-label {
              display: inline-block;
              width: 50px;
              height: 24px;
              background-color: #ccc;
              border-radius: 50px;
              cursor: pointer;
              position: relative;
              transition: background-color 0.3s ease;

              .slider {
                position: absolute;
                top: 3px;
                left: 3px;
                width: 18px;
                height: 18px;
                background-color: white;
                border-radius: 50%;
                transition: transform 0.3s ease;
              }
            }

            .checkbox-input:checked + .checkbox-label {
              background-color: rgb(23, 187, 23);
            }

            .checkbox-input:checked + .checkbox-label .slider {
              transform: translateX(26px);
            }
          }
        }

        .submit-btn {
          .btn {
            width: 100%;
            padding: 18px;
            font-size: 20px;
            border-radius: 10px;
            background: $green-color;
            color: #fff;
            border: 1px solid $green-color;
            cursor: pointer;
            margin-top: 48px;
            margin-bottom: 8px;

            @include responsive(mobile) {
              padding: 10px;
              font-size: 16px;
            }

            &:disabled {
              background-color: #72999c;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
