<div class="register-page">
  <div class="register-box">
    <div class="logo">
      <img
        src="https://cb.glloc.com/assets/images/glloc_logo_white.svg"
        alt="Logo"
        class="logo-img"
      />
    </div>
    <div class="form-container">
      <h6 class="form-header">Sign up</h6>
      <form class="register-form">
        <div class="form-field">
          <input
            formControlName="firstName"
            id="firstName"
            class="input-field"
            placeholder="Name Surname"
          />
        </div>

        <div class="form-field">
          <input id="email" class="input-field" placeholder="E-mail" />
        </div>

        <div class="form-field">
          <input type="text" class="input-field" placeholder="Phone" />
        </div>

        <div class="role-selection">
          <p class="role-item-text">Personal</p>
          <div class="checkbox-wrapper">
            <input
              id="cbx"
              type="checkbox"
              formControlName="myroleId"
              class="checkbox-input"
            />
            <label for="cbx" class="checkbox-label">
              <span class="slider"></span>
            </label>
          </div>

          <p class="role-item">Juridical person</p>
        </div>

        <div class="submit-btn">
          <button class="btn" disabled>Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
