$green-color: #348f92;
$black-color: #000;

@mixin form-controle {
  font-size: 1.2rem;
  font-weight: 500;
  color: $black-color;
  margin: 0;
  padding-left: 16px;
  margin: 0 0 12px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

.register-page {
  @include flex-center;
  height: 100vh;
  padding: 5% 2%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/gradient-emerald-background_23-2150237162.avif");

  .register-box {
    flex-direction: column;
    @include flex-center;
    max-width: 600px;
    width: 100%;
    .logo {
      margin-bottom: 20px;
      text-align: center;

      .logo-img {
        max-width: 100%;
        width: 230px;
        height: auto;

        @include responsive(mobile) {
          width: 150px;
        }
      }
    }

    .form-container {
      @include flex-center;
      flex-direction: column;
      border-radius: 20px;
      background: #fff;
      width: 100%;
      max-width: 500px;
      padding: 45px;

      @include responsive(mobile) {
        padding: 20px;
      }

      .form-header {
        color: $green-color;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;

        @include responsive(mobile) {
          font-size: 20px;
        }
      }

      .register-form {
        width: 100%;

        .form-field {
          margin-bottom: 20px;

          input {
            border-radius: 10px;
            border: 1px solid #e7e6e6;
            background: #fff;
            width: 100%;
            padding: 20px;

            &:focus {
              border-color: #007bff;
            }
          }
        }
        .role-selection {
          @include flex-center;
          gap: 30px;
          margin: 20px 0px;
          .checkbox-wrapper {
            display: flex;
            align-items: center;
            position: relative;

            .checkbox-input {
              position: absolute;
              opacity: 0;
              width: 0;
              height: 0;
            }

            .checkbox-label {
              display: inline-block;
              width: 50px;
              height: 24px;
              background-color: #ccc;
              border-radius: 50px;
              cursor: pointer;
              position: relative;
              transition: background-color 0.3s ease;

              .slider {
                position: absolute;
                top: 3px;
                left: 3px;
                width: 18px;
                height: 18px;
                background-color: white;
                border-radius: 50%;
                transition: transform 0.3s ease;
              }
            }

            .checkbox-input:checked + .checkbox-label {
              background-color: rgb(23, 187, 23);
            }

            .checkbox-input:checked + .checkbox-label .slider {
              transform: translateX(26px);
            }
          }
        }

        .submit-btn {
          width: 100%;

          .btn {
            width: 100%;
            padding: 15px;
            font-size: 18px;
            border-radius: 10px;
            background: $green-color;
            color: #fff;
            border: 1px solid $green-color;
            cursor: pointer;

            &:disabled {
              background-color: #72999c;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
