<header class="dashboard-header">
  <div class="logo">
    <img src="images/logo.svg" alt="Logo" />
    <span class="logo-dashboard-tittle">GLLOC</span>
  </div>

  <div class="dashboard-header-right">
    <div class="light-change" (click)="toggleTheme()">
      <img
        [src]="isDarkMode ? 'images/dark1.svg' : 'images/lighit.svg'"
        alt="Theme Icon"
      />
    </div>

    <div class="user-profile" (click)="toggleDropdown()">
      <img src="images/user-profile.jpeg" alt="User" />
      <div *ngIf="dropdownVisible" class="dropdown-menu">
        <div class="balance-info">
          <div class="price">
            <img
              src="images/icone-dashboard.svg"
              alt="icone"
              class="icone-price"
            />
            <span class="balance-price">Balance </span>
          </div>
          <div class="number">11700</div>
        </div>
        <div (click)="logout()" class="signout-button">
          <span class="signout-title">Sign Out</span>
          <img class="logout-icone" src="images/logout.svg" alt="logout" />
        </div>
      </div>
    </div>
  </div>
</header>
