<div class="panel">
  <h5 class="panel-title">Transactions History</h5>
  <div *ngFor="let transaction of transactions" class="transaction">
    <h5 class="transaction-date">{{ transaction.date }}</h5>

    <div class="transaction-item">
      <div class="icon income-icon">
        <img src="images/dachboard-icone2.svg" alt="dwd" />
      </div>
      <div class="info-icome">
        <h6 class="info-history">Income</h6>
        <p>{{ transaction.income }} ₼</p>
      </div>
    </div>

    <div class="transaction-item">
      <div class="icon expenses-icon">
        <img src="images/dashboard-icone3.svg" alt="dwd" />
      </div>
      <div class="info-icome">
        <h6 class="info-history">Expenses</h6>
        <p>{{ transaction.expenses }} ₼</p>
      </div>
    </div>
  </div>
</div>
